
  <div class="row">
    <div class="col-4">
      <div class="card border-secondary">

        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
        class="card-img-top img-thumbnail">

        <div class="card-body border-secondary">
          <div class="mb-2"  *ngIf="(presence.onlineUser$ |async).includes(member.userName)">
            <i class="fa fa-user-circle text-success"> Online Now </i>
          </div>
          <div>
            <strong><b style="color: #321E1E;">Location:</b></strong>
            <p>{{member.city}}, {{member.country}}</p>
          </div>
          <div>
            <strong><b style="color: #321E1E;"> Age: </b> </strong>
            <p>{{member.age}}</p>
          </div>
          <div>
            <strong><b style="color: #321E1E;">Last Active:</b></strong>
            <p>{{member.lastActive | timeago}}</p>
          </div>
          <div>
            <strong><b style="color: #321E1E;">Member since:</b></strong>
            <p>{{member.created | date}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">

                <button class="btn btn-dark ms-1">Follow</button>
                <button (click)="selectTab('Messages')" class="btn btn-success">Message</button>

          </div>
        </div>
      </div>

    </div>
    <div class="col-8">
      <tabset class="member-tabset" #memberTabs>
        <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
          <h4>Description</h4>
          <p>{{member.introduction}}</p>
          <h4>Looking for</h4>
          <p>{{member.lookingFor}}</p>
          <h4>Interests</h4>
          <p>{{member.interests}}</p>
          <app-books-read></app-books-read>

        </tab>

        <tab heading="Photos" (selectTab)="onTabActivated($event)">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="Messages" (selectTab)="onTabActivated($event)">

          <app-member-messages  [username]="member.userName"></app-member-messages>
        </tab>
        <tab heading="Books" (selectTab)="onTabActivated($event)">
          <app-books-liked></app-books-liked>
          <!-- <app-books-liked></app-books-liked> -->
        </tab>
      </tabset>
    </div>
  </div>


