<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <h4

      [(ngModel)]="predicate"
      (click)="loadReads()">Favorite books</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2" *ngFor="let title of title">
        <app-book-card [title]="title"></app-book-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">

  </pagination>
</div>

